.landing-page
{
    background: white url("https://cdn.pixabay.com/photo/2014/12/10/20/56/medical-563427_1280.jpg") scroll center;
    background-size: cover;
    height: 100vh;
    color: #ffcccc;
}

.text
{
  margin-top: 30px;

}

.home-button
{
  background-color: #084B83;
}

.home-button-text
{
  color: #F39B6D;
}