.paragraph
{
    font-size: 30px;
}

.heading-text
{
    color: #347FC4;
}

.sub-headings
{
    color: #7D6B91;
}

.bgc
{
    background-color: #ABA8B2;
}

.bg-box
{
    background-color: #83858C;
}

.bg-box-text
{
    color: #EBF2FA;
}

.buttons
{
    background-color: #347FC4;
}